  <h1>WDP Announce</h1>
  <p>
    This is the home page for the
    <a href="http://wdpannounce.net">West Denver Prep Announcements</a> application.
  </p>

  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
